* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    float: right;
    width: 50%;
    font-size: 24px;
}

label {
    background-color: green;
    padding: 16px;
    font-size: 32px;
    cursor: pointer;
    display: none;

}

input {
    display: none;
}

.nav-items {
    background-color: blueviolet;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-items li {
    cursor: pointer;
    padding: 16px;
    border-radius: 16px;
    transition: 0.3s;
}

.nav-items li:hover {
    background-color: white;
    color: black;
}

@media (max-width: 880px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: auto;
    }

    .nav-items {
        margin-top: 64px;
        height: auto;
        overflow: hidden;
        width: 0;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    label {
        z-index: 999;
        position: fixed;
        display: flex;
        justify-content: flex-end;
    }

    input:checked~.nav-items {
        overflow: scroll;
        animation-name: change-width;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    label i {
        transition: 0.3s;
    }

    input:checked + label i {
        transform: rotate(180deg);
        color: white;
    }

    @keyframes change-width {
        to {
            opacity: 1;
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    nav {
        width: 100%;
    }
}
